html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}

.body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.logo {
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1,16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-second {
  color: #212121;
}

.main-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header {
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  position: relative;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  /* @media screen and(min-width:768px) {
        display: flex;
    }
    
    margin-left: 86px;*/
  /*.item:not(:last-child) {
    margin-right: 50px;
}*/
}

@media screen and (min-width: 768px) {
  .site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: auto;
  }
}

.site-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link-curret {
  position: relative;
  display: block;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .site-nav .link-curret {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}

.site-nav .link-curret::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  /*@media screen and(min-width:1200px) {
        display: flex;
    }
    
    margin-left: auto;*/
  /*.item:not(:last-child) {
    margin-right: 50px;
}*/
}

@media screen and (min-width: 768px) {
  .auth-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .auth-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover {
  color: #2196F3;
}

.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: currentColor;
}

.icon-envelope:hover {
  fill: var(--accent-color);
}

.icon-phone {
  width: 10px;
  height: 14.94px;
  fill: currentColor;
}

.icon-phone:hover {
  fill: #2196F3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    border-top: 1px solid #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.hero {
  text-align: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #757575;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("Header.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header2.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("Header2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header3.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header3.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("Header2.jpg");
  }
}

.hero-title {
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 118px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.4;
    padding-top: 200px;
  }
}

.button {
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
}

.button .primary {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
}

.form-field {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  position: absolute;
  margin: 0;
  top: 30%;
  left: 48px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label {
  color: #2196F3;
  -webkit-transform: translate(-30px, -43px);
          transform: translate(-30px, -43px);
}

.form-input:focus ~ .form-icon {
  fill: #2196F3;
}

.form-icon {
  position: absolute;
  top: 30%;
  left: 19px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea:focus + .coment-text, .form-textarea:not(:placeholder-shown) + .coment-text {
  color: #2196F3;
  -webkit-transform: translate(-10px, -38px);
          transform: translate(-10px, -38px);
}

textarea {
  resize: none;
}

.coment-text {
  position: absolute;
  top: 10%;
  left: 16px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 0.2px solid #212121;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked ~ .checkbox-icon {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.form-agreement {
  margin: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px) {
  .form-agreement {
    font-size: 14px;
    line-height: 1.7;
  }
}

.button-submit {
  margin-top: 30px;
  padding: 10px 55px;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
  fill: #2196F3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-description .title {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .description-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.description-list .item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .description-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .description-list .item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .description-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .description-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .description-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .description-list .item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.description-list .title {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .description-list .title {
    text-align: left;
  }
}

.description-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.description-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*width: 450px;
    height: 120px;*/
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .item {
  position: relative;
  width: 370px;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list .title {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.work-list .link {
  display: block;
  text-decoration: none;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list .item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-list .item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.team-list .title {
  color: #212121;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.chain-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.chain-list .item:not(:last-child) {
  margin-right: 10px;
}

.chain-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  text-decoration: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chain-list .link:hover, .chain-list .link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.chain-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.chain-icon:hover {
  fill: #FFFFFF;
}

.card {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.card-team {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  background: #FFFFFF;
}

.clients-list {
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list .item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .clients-list .item {
    width: calc(100 - 6 * 30px)/6;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .clients-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients-list .link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .link {
    width: 170px;
  }
}

.clients-list .link:hover, .clients-list .link:focus {
  color: #2196F3;
  background-color: #FFFFFF;
  border: 1px solid #2196F3;
}

.clients-icon {
  fill: currentColor;
}

.clients-icon:hover {
  fill: #2196F3;
}

.page-footer {
  background-color: #2F303A;
}

.page-footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer .container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .contact-info {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-info {
    margin-right: 165px;
  }
}

.footer-logo {
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: #FFFFFF;
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-list .text {
  margin-top: 10px;
  margin-bottom: 9px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list .link {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .subscription-info {
    margin-bottom: 60px;
  }
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 21px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-network {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-network .item:not(:last-child) {
  margin-right: 10px;
}

.social-network .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #757575;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network .link:hover, .social-network .link:focus {
  background-color: #2196F3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-signature {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-signature {
  /*display: flex;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-footer {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: unset;
}

@media screen and (min-width: 480px) {
  .input-footer {
    margin-bottom: 20px;
  }
}

.button-fotter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 29px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio .title {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-list .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) {
  .portfolio-list .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio-list .type {
  margin: 0;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 1px solid #F5F4FA;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .type:hover,
.portfolio-list .type:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-list .title {
  color: #212121;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.02em;
}

.card-list .text {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card-list .link {
  display: block;
  text-decoration: none;
}

.card-list .item {
  width: 450px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .card-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list .item {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-list item:nth-child(3n) {
    margin-right: 0;
  }
  .card-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.position-card {
  position: relative;
  overflow: hidden;
}

.text-second {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list .link:hover, .card-list .link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.item .link:hover .text-second, .item .link:focus .text-second {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.card-content {
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .card-content {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-content {
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */