.main-nav { 
    
    @media screen and(min-width:768px){
        display: flex;
    }
    align-items: center;
    flex-basis: 100%;
    display: flex;
   justify-content: space-around;
    align-items: center;
   
    
}

.page-header {
    background-color: $primary-bg-colot;
    border: 1px solid #ECECEC;
    position: relative;
}

.site-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
    

    @media screen and (min-width:768px) {
        flex-direction: row;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: auto;
      }

   /* @media screen and(min-width:768px) {
        display: flex;
    }
    
    margin-left: 86px;*/

/*.item:not(:last-child) {
    margin-right: 50px;
}*/

.link {
    
    display: block;

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}

.link-curret {

    position: relative;

    display: block;
    
    padding-bottom: 8px;

    @media screen and(min-width:768px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $accent-color; 
}

.link:hover, 
.link:focus {
    color:$accent-color;

}

 
.link-curret::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color:  $accent-color;
    border-radius: 2px;


}

}

.site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  
    @media screen and (min-width:768px) {
      margin-bottom: 0px;
      margin-right: 50px;
      
    }
  }


.auth-nav {
    display: flex;
  flex-direction: column;
  text-align: center;
  

  @media screen and (min-width:768px) {
    align-items: flex-start;
    margin-left: auto;
  }

  @media screen and (min-width:1200px) {
    flex-direction: row;
    margin-left: auto;

    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
  /*@media screen and(min-width:1200px) {
        display: flex;
    }
    
    margin-left: auto;*/

    
    
/*.item:not(:last-child) {
    margin-right: 50px;
}*/

.link {
    color:$primary-text-color;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-bottom: 8px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}

.link:hover {
    color:  $accent-color;
}

}
 


.icon-envelope {
    width: 16px;
    height: 11.2px;
    fill: currentColor;

 &:hover{
    fill: var(--accent-color);
}   
}

.icon-phone {
    width: 10px;
    height: 14.94px;
    fill: currentColor;

    &:hover{
    fill: $accent-color;
}
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      fill:$accent-color;
    }
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-button .icon-cross {
    display: none;
  }
  
  .menu-button.is-open .icon-cross {
    display: block;
  }
  
  .menu-button.is-open .icon-menu {
    display: none;
  }
  
  .menu-container {
    background-color:$primary-bg-colot;
   
  
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
      border-top: 1px solid $primary-bg-colot;

      padding-top: 60px;
      padding-bottom: 60px;
   
  
      &.is-open {
        display: block;
      }
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }
  }





