 $primary-text-color:#757575;
 $title-text-color: #212121;
 $accent-color: #2196F3;
 $second-title-color: #FFFFFF;
 $primary-bg-colot:#FFFFFF; 
 $link-color:#AFB1B8;
 $footer-ad-color: rgba(255, 255, 255, 0.6);
 $footer-text-color: rgba(255, 255, 255, 0.4);
 $primary-bg-colot:#FFFFFF;

